body {
	background-color: blue;
	border: 5px solid black;
	margin: 150px;
}

.box {
	margin: 10px;
	padding: 5px;
	border: 2px;
	border-style: dashed;
	color: red;
	font-family: sans-serif;
}

#green{
	border-color: green;
}

#orange{
	border-color: orange;
	margin: 0px;
	padding: 20px;
}